/*** VARIABLES ***/
    $black: #000000;
    $white: #FFFFFF;

    $dark-gray: #7c7c7c;
    $text-gray: #9999a7;
    $middle-dark-gray: #c7c7c7;
    $mid-gray: #d8d8d8;
    $middle-light-gray: #dedede;
    $light-gray: #f2f2f2;
    $lightest-gray: #f8f8f8;

    $dark-blue: #008ab3;
    $light-blue: #05a6df;

    $warning: #eac438;
    $success: #58a300;
    $error: #f65327;

    $font-family: "proxima-nova", sans-serif;
    $font-size: 14px;
    $line-height: 20px;
    $font-thin: normal 100 14px/18px $font-family;
    $font-light: normal 300 14px/18px $font-family;
    $font-regular: normal 400 14px/18px $font-family;
    $font-semibold: normal 600 14px/18px $font-family;

/*** MIXINS ***/
    @mixin clearfix {
        &:before, &:after {
            content: " "; // 1
            display: table; // 2
        }
        &:after {
            clear: both;
        }
    }

/*** STYLES ***/
body {
    background: $light-gray;
    padding: 0;
    margin: 0;
}

.vlocity {
    * {
        font: $font-regular;
        text-transform: uppercase;
        transition: all 100ms ease-in;
    }

    a {
        &:hover, &:active, &:focus, &:visited {
            text-decoration: none;
        }
    }

    .cards-container {
        @include clearfix;
        overflow: hidden;
        width: auto;
        padding-left: 1.3%;
        padding-bottom: 1.3%;
    }

    section.console-card {
        float: left;
        width: 31.5165%;
        margin: 1.5165% 1.5165% 0 0;
        min-height: 360px;
        background-color: $white;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);

        .card-top {
            padding: 15px 20px 7px;
            border-bottom: 2px solid $light-gray;
            @include clearfix;

            h2 {
                margin: 0 0 4px 0;
                text-transform: uppercase;
                font: $font-light;
                font-size: 28px;
                line-height: 28px;
                height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: default;
                display: inline-block;
                max-width: 100%;
            }

            span {
                letter-spacing: 0.02em;

                &.account-number {
                    float: left;
                    font-size: 14px;
                    font-weight: 600;
                }

                &.expires {
                    float: right;
                    font-size: 12px;
                    position: relative;

                    i.icon {
                        color: $warning;
                        font-size: 22px;
                        position: absolute;
                        top: -3px;
                        left: -32px;

                        &+ .tooltip .tooltip-inner {
                            text-transform: none;
                        }
                    }
                }
            }
        }

        .card-info {
            @include clearfix;
            padding: 5px 20px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                &.details {
                    float: left;
                    padding-top: 10px;

                    li {
                        margin-bottom: 16px;

                        &:last-of-type {
                            margin: 0;
                        }
                    }

                    span {
                        display: block;

                        &.detail-label {
                            font-weight: 600;
                        }

                        &.value {
                            text-transform: none;
                            color: $text-gray;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }

                &.actions {
                    float: right;
                    width: 150px;

                    a {
                        display: table;
                        width: 100%;
                        height: 53px;
                        border-bottom: 2px solid $light-gray;                        

                        img {
                            width: 29px;
                            height: 29px;
                            margin: 5px 9px;
                            display: table-cell;
                            vertical-align: middle;
                        }

                        i.icon {
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 34px;
                            line-height: 34px;
                            color: $light-blue;
                            width: 40px;
                            
                            &:before {
                                font-weight: 100;
                                line-height: 34px;
                            }
                        }

                        span {
                            font-size: 12px;
                            color: $text-gray;
                            line-height: 1;
                            display: table-cell;
                            vertical-align: middle;

                        }

                        &:hover {
                            text-decoration: none;

                            i.icon {
                                color: $dark-blue;
                            }

                            span {
                                color: $light-blue;
                            }
                        }
                    }

                    li:last-of-type {
                        a {
                            border: none;
                        }
                    }                   
                }
            }            
        }

        &.open {
            background-color: $lightest-gray;
            padding-top: 63px;
            position: relative;

            a.add-policy {
                display: inline-block;
                width: 100%;
                margin-bottom: 8px;

                i.icon {
                    font-size: 80px;
                    color: $light-blue;
                    display: block;
                    text-align: center;
                    margin-bottom: 3px;
                }

                span {
                    text-align: center;
                    display: block;
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 300;
                    color: $light-blue;
                    padding: 0 20px;
                }

                &:hover {
                    text-decoration: none;
                    
                    i.icon, span {
                        color: $dark-blue;
                    }
                }
            }

            p.description {
                color: $text-gray;
                font-size: 16px;
                text-transform: none;
                line-height: 22px;
                width: 60%;
                margin: 0 20%;
                text-align: center;
            }

            ul.secondary-actions {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                position: absolute;
                bottom: 20px;
                width: 100%;


                li {
                    display: inline-block;
                    padding: 0 12px;
                    border-right: 1px solid $middle-light-gray;

                    &:last-of-type {
                        border: none;
                    }

                    a {
                        font-size: 12px;
                        color: $light-blue;
                        line-height: 16px;

                        &:hover {
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
    }

    .cards-container {
        @media only screen and (min-width : 1575px) {
            section.console-card {
                width: 23.4%;
            }
        }

        @media only screen and (max-width : 1150px) {
            section.console-card {
                width: 48.4%;
            }
        }

        @media only screen and (max-width : 725px) {
            section.console-card {
                width: 98%;
            }
        }
    }    
}